@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';


.wrapper {
	max-width: 700px;
	margin: 20px auto;
	padding-left: 1em;
	padding-right: 1em;
	overflow: auto;
}




/**
 * Card Styles
 */

.card {
	background-color: #fff;
	margin-bottom: 1.6rem;
}

.card__padding {
	padding: 1.6rem;
}

.card__image {
	min-height: 100px;
	background-color: #eee;
}
	.card__image img {
		width: 100%;
		max-width: 100%;
		display: block;
	}

.card__content {
	position: relative;
}

/* card meta */
.card__meta time {
	font-size: 1.5rem;
	color: #bbb;
	margin-left: 0.8rem;
}

/* card article */
.card__article {
	color: gray;
	font-size: 2em;
	transition: all 0.5s ease;
}

.card__article h2{
	color: black;
	transition: all 0.5s ease;
}

/* card action */
.card__action {
	overflow: hidden;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	padding-bottom: 1.6rem;
}

.card__author {}

	.card__author img,
	.card__author-content {
		display: inline-block;
		vertical-align: middle;
		color: black;
	}

.card__share {
	float: right;
	position: relative;
	margin-top: -42px;
}
